# Core Application & Data Manipulation
streamlit
pandas
numpy

# Data Visualization
matplotlib
plotly

# Econometric Modeling
statsmodels
linearmodels

# Data Acquisition & Image Processing
wbdata
Pillow